<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  box-sizing: initial;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
</style>

<span style="text-align: center;">
<a href="https://www.linkedin.com/in/justinryanc" target="_blank" class="fa fa-linkedin"></a>
<a href="https://www.flickr.com/people/chambersjr/" target="_blank" class="fa fa-flickr"></a>
<a href="/posts/index.xml" target="_blank" class="fa fa-rss"></a>
</span>