<script src="https://giscus.app/client.js"
        data-repo="justinryanc/giscus-justinryanc"
        data-repo-id="R_kgDOQFfxHw"
        data-category="master"
        data-category-id="DIC_kwDOQFfxH84CxB4N"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>